<img src="images/beer.png" alt="beer"></img>

<div>
 <form action="/beers" >
        <button class="btn " type="submit">Check the Beers!</button>
      </form>
       <form action="/randombeer">
        <button class="btn" type="submit">Check a Random Beer!</button>
      </form>
<div>

  <div>
    <h2>Develop by Ironhack :)</h2>
  </div>

  <link rel="stylesheet" href="stylesheets\styles.css">