
<div class="container">
<img class="beer-img" src="images/beer.png" alt="beer"></img>

<div class="links">
 <form  action="/beers" >
        <button class="btn " type="submit">Check the Beers!</button>
      </form>
       <form action="/randombeer">
        <button class="btn" type="submit">Check a Random Beer!</button>
      </form>
<div>

  <div class="bottom-text">
    <h2>Develop by Ironhack :)</h2>
  </div>
</div>
  <link rel="stylesheet" href="stylesheets\styles.css">